SERVER_URL="https://..."
GAME_HUB_URL="https://..."
DISCOVEREX_URL="https://..."
MAGIC_EYE_URL="https://..."
GAME_HUB_PORT=3000
DISCOVEREX_PORT=3001
MAGIC_EYE_PORT=3002
REMOTE_HOST="your-vm-remote-host"
DB_USER="db-user"
DB_PASSWORD="db-password"
DB_NAME="db-name"
DB_PORT=1234
APP_PORT=8080
APP_ENV="local"
BUCKET_NAME="your-bucket-name"
FIREBASE_SERVICE_ACCOUNT_JSON='your-firebase-json'
GCP_SERVICE_ACCOUNT_JSON='your-gcp-json'
HF_TOKEN="your-huggingface-token"
OPENAI_API_KEY="your-openai-key"